.card {
    width: 300px;
}

.desctiption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;
}

.author-img {

}

.portal {
    width: 70%;
}

.flag:active {
    transform: scale(0.7);
}

.collaborator-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    color: white;
    font-size: 1.1em;
}

.collaborator {
    margin-left: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}